{% extends "login_layout.html" %}

{% block title %}
All Sponsors
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="form-title">All Sponsors</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>username</th>
                <th>password</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Industry</th>
                <th>campaigns</th>
                <th>payments</th>
                <th>ad_requests</th>
                <th>is_flagged</th>
                <th>Ongoing Campaigns</th>
                <th>Successful Campaigns</th>
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
            {% for sponsor in sponsors %}
            <tr>
                <td>{{ sponsor.id }}</td>
                <td>{{ sponsor.name }}</td>
                <td>{{ sponsor.username }}</td>
                <td>{{ sponsor.password }}</td>
                <td>{{ sponsor.email }}</td>
                <td>{{ sponsor.phone_number }}</td>
                <td>{{ sponsor.industry }}</td>
                <td>{{ sponsor.campaigns }}</td>
                <td>{{ sponsor.payments }}</td>
                <td>{{ sponsor.ad_requests }}</td>
                <td>{{ sponsor.is_flagged }}</td>
                <td>{{ sponsor.ongoing_campaigns }}</td>
                <td>{{ sponsor.successful_campaigns }}</td>
                <td>{{ sponsor.picture }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
